<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs'); %>
	</head>
	<body>
		<%- include('../partials/navbar.ejs'); %>
		<div class="container">
			<div class="row row-cols-3 g-1">
				<div class="col mt-4"></div>
			</div>
		</div>
		<%- include('../partials/scripts.ejs'); %>
	</body>
</html>
